.billing-form .form-group input {
    border: 1px solid var(--card-bg-02);
}

.checkout-cart {
    padding: 20px;
    background: var(--primary-color);
    color: #fff;
    border-radius: 10px;
}

.checkout-cart h6, h4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkout-cart h6 {
    margin-bottom: 20px;
}

.checkout-cart h4 {
    border-top: 1px solid rgba(230, 230, 230, 0.351);
    padding-top: 20px;
}

.checkout-cart .shop-button {
    background: #fff;
    color: var(--primary-color);
}